<form method="POST" action="/peeps">

   <div>
     <label>Peep message</label>
     <input type="text" name="message" />
   </div>

   <div>
     <label>Peep time</label>
     <input type="text" name="time" />
   </div>

   <div>
     <label>User id</label>
     <input type="text" name="user_id" />
   </div>

   <input type="submit" />
 </form>